
body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
}

.menu-principal {
  background-color: rgb(245, 243, 248);
  height: 75px;
}

.img-logo {
  /*height: 50px;*/
  width: 130px;
}

main {
  margin: 0 auto;
  width: 90%;
  position: relative;
}

.box-login {
  margin: auto;
  margin-top: 60px;
  width: 350px;
  padding: 40px 20px;
  height: 60%;
  background-color: rgb(244, 244, 244);
  border-radius: 16px;
}

.titulo-box-login {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  font-family: 'Open Sans';
  color: #352446;
}

.input-email,
.input-password  {
  width: 100%;
  height: 54px;
  background-color: white;
  padding: 0 15px;
  font-size: 18px;
  border-width: 0;
  border-radius: 5px;
}

.input-email::placeholder,
.input-password::placeholder{
  color: #B5B5B5;
}

.email-text,
.password-text {
  font-family: 'Open Sans';
  margin-top: 40px;
}

.login-button {
  margin-top: 70px;
  width: 100%;
  height: 54px;
  background: linear-gradient(70deg, #66418c, #A379CD);
  border-radius: 27px;
  border-width: 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.back-button {
  background-image: url('../img/back-button.png');
  background-size: cover;
  background-color: white;
  border-width: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.filtros {
  width: 100%;
  position: relative;
}

.p-filtros {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 30px;
  color: #B5B5B5;
}

.card-filtro {
  padding: 5px 12px;
  background-color: #A379CD;
  float: left;
  border-radius: 5px;
  color: white;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
  cursor: pointer;
}

.color-tapped {
  background-color: #66418c;
  padding: 5px 12px;
  float: left;
  border-radius: 5px;
  color: white;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
  cursor: pointer;
}

.title-pedidos {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 34px;
  color: #352446;
  float: left;
}

.select-temporada {
  float: right;
  margin-top: 55px;
  height: 40px;
  padding: 0 30px;
  border-radius: 10px;
  border-width: 0;
  background-color: #F5F3F8;
  color: #6D6969;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.content {
  margin: 0 auto;
  position: relative;
  padding: 20px;
  width: 90%;
}

.box-editar {
  margin: 0 auto;
  width: 45%;
  position: relative;
}

.button-salvar {
  width: 220px;
  margin-top: 70px;
  height: 48px;
  background: #7F5BA3;
  border-radius: 24px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  cursor: pointer;
}

/** Ver pedidos: */


.pedidos {
  width: 100%;
  clear: both;
  padding: 20px 0 0 0;
}

.tabela {
  width: 100%;
  clear: both;
  margin-top: 150px;
}

.tabela {
  width: 100%;
  clear: both;
  margin-top: 150px;
}

.header-column {
  height: 50px;
  float: left;
}

.column p,
.header-column p {
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
}

.w5 {
  width: 5%;
}

.w7 {
  width: 7%;
}

.w8 {
  width: 8%;
}

.w10 {
  width: 10%;
}

.w12 {
  width: 12%;
}

.w15 {
  width: 15%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-90 {
  width: 90%;
}

.first-column {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.last-column {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}

.column {
  background-color: #F3F3F3;
  height: 65px;
  float: left;
  position: relative;
}

.aguardando-pagamento {
  background-color: #F37373;
  padding: 0 3px;
  height: 30px;
  border-radius: 10px;
  margin: auto;
}

.confirmado {
  background-color: #F6A648;
  padding: 0 3px;
  height: 30px;
  border-radius: 10px;
  margin: auto;
}

.parcialmente-entregue {
  background-color: #FCDC6B;
  padding: 0 3px;
  height: 30px;
  border-radius: 10px;
  margin: auto;
}

.entregue {
  background-color: #30E4AE;
  padding: 0 3px;
  height: 30px;
  border-radius: 10px;
  margin: auto;
}

.aguardando-pagamento > p,
.confirmado > p,
.entregue > p,
.parcialmente-entregue > p,
.pago > p,
.parcialmente-pago > p,
.nao-pago > p {
  color: white;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
}

.pago {
  background-color: #30E4AE;
  padding: 0 3px;
  height: 30px;
  border-radius: 10px;
  margin: auto;
  display: inline-block;
}

.parcialmente-pago {
  background-color: #FCDC6B;
  padding: 0 3px;
  height: 30px;
  border-radius: 10px;
  margin: auto;
  display: inline-block;
}

.nao-pago {
  background-color: #F37373;
  padding: 0 3px;
  height: 30px;
  border-radius: 10px;
  margin: auto;
  display: inline-block;
}

.column-9 button {
  position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.edit-button p {
  text-decoration: underline;
  cursor: pointer;
}

.delete-button button img {
  cursor: pointer;
} 

#name,
#price,
#model,
#course,
#size,
#color,
#time,
#obs {
  height: 54px;
  padding: 0 30px;
  border-radius: 10px;
  border-width: 0;
  background-color: #F5F3F8;
  color: #6D6969;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
}

#obs {
  padding: 20px;
  font-family: 'Open Sans';
  font-size: 15px;
  height: 150px;
}

#caneca,
#tirante,
#camisa {
  margin-bottom: 5px;
}

.main-title {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 30px;
  color: #352446;
  margin-top: 60px;
}

.ver-obs p {
  cursor: pointer;
  text-decoration: underline;
}

.content-obs {
  width: 70%;
}

.card-observacao {
  width: 100%;
  background-color: #F6F6F6;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

#add-obs {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-family: 'Open Sans';
  min-height: 50px;
  height: 100px;
  font-size: 15px;
}